.logo{
    width: 100px;
    height: auto;
}

.Ingresos{
    text-decoration: none;
    color: black;
    text-align: left;
}

header{
    background-color: grey;
}


.carousel{
    width: 700px;
    height: auto;
    align-self: center;
}

.contenedor-centrado{
  justify-content: center;
}

.carrusel {
  width: 80%;
  max-width: 1000px;
}




.carousel-control-prev,
.carousel-control-next {
  color: black; 
  background-color: black; 
  border: none; 
  outline: none; 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgb(132, 0, 255);
  color: rgb(8, 8, 8); 
  border-radius: 50%; 
  padding: 10px; 
}

.visually-hidden {
  display: none;
}

