.logo{
    width: 100px;
    height: auto;
}

.Ingresos{
    text-decoration: none;
    color: black;
    text-align: left;
}

header{
    background-color: grey;
}


.carousel{
    width: 700px;
    height: auto;
    align-self: center;
}

.contenedor-centrado{
  justify-content: center;
}

.carrusel {
  width: 80%;
  max-width: 1000px;
}



/* Estilos para los botones de control del carrusel */
.carousel-control-prev,
.carousel-control-next {
  color: black; /* Cambia el color de los botones a negro */
  background-color: black; /* Fondo transparente para los botones */
  border: none; /* Elimina el borde */
  outline: none; /* Elimina el contorno al hacer foco */
}

/* Estilos para los íconos de los botones de control */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgb(132, 0, 255); /* Cambia el color del ícono a negro */
  color: rgb(8, 8, 8); /* Color del ícono */
  border-radius: 50%; /* Borde redondeado para el ícono */
  padding: 10px; /* Espaciado interno */
}

/* Estilos para ocultar el texto "Previous" y "Next" (opcional) */
.visually-hidden {
  display: none;
}

