// Extend
%button-styles {
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;

  &:hover {
    background-color: $primary-color;
  }
}
