// Estilos del home
/* Estilos para pantallas grandes */
@media (min-width: 992px) {
    .navbar-nav {
      background-color: #a4a4a4;
    
    }
  
    .nav-home {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }

    .navbar-nav{
      flex-direction: row;
      width: 100%;
      justify-content: flex-end;
    }
  }


      



  .logo {
    width: 100px;
    height: auto;
  }
  
  .menu-home {
    text-decoration: none;
    color: white;
  }
  
  .menu {
    width: 0%;
    display: flex;
    margin-left: 50%;
    margin-top: 20px;
    justify-content: space-around;
  }
  
  .menu-home:hover {
    background-color: #a4a4a4;
    border-radius: 5px;
  }
  
  .carousel {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;
    left: 25%;
  }
  
  .contenedor-centrado {
    justify-content: center;
    body, html {
      margin: 0;
      padding: 0;
      height: 100%;
  }
  
  .gradient-background {
      background: rgb(112,0,9);
      background: linear-gradient(0deg, rgba(112,0,9,1) 0%, rgba(238,143,153,1) 100%);
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .login-container {
      text-align: center;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 20px;
      border-radius: 10px;
  }
  
  
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    color: black;
    background-color: black;
    border: none;
    outline: none;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: #700009;
    color: rgb(8, 8, 8);
    border-radius: 50%;
    padding: 10px;
  }

  
  
  .visually-hidden {
    display: none;
  }
  